* {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0px;
  background-color: #F3F7F8;
}

.header {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #5D69B2;
  border-bottom: 2px solid #7ea8cf;
  z-index: 10;
}

h1 {
  font-family: 'Rock Salt';
  font-size: 2.5em;
  background-color: #5D69B2;
  color: #F3F7F8;
  margin: 0px;
  text-shadow: 2px 2px 7px #505a99;
}

.search {
  background-color: #5D69B2;
  margin-bottom: 15px;
  font-size: 0.7em;
}

input {
  background-color: #6774C4;
  border: 2px solid #CDDEE4;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  width: 30%;
  margin-right: 25px;
  padding: 5px 5px;
  padding-bottom: 7px;
  color: white;
}

button {
  background-color: #505A99;
  border: 2px solid #CDDEE4;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  color: white;
  padding: 5px;
  padding-top: 3px;
  width: 120px;
  font-size: 1.2em;
  text-transform: uppercase;
}

button:hover {
  background-color: #6774c4;
}

ul {
  position: relative;
  margin-top: 195px;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 15px;
}

li {
  border: 1px solid #CDDEE4;
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  margin-top: 15px;
  padding: 8px;
  padding-bottom: 2px;
  height: 206px;
  background-color: #FAFBFB;
}

.avatar {
  float: left;
  width: 200px;
}

img {
  width: 200px;
  height: 200px;
}

.information {
  display: inline-block;
  text-align: left;
  background-color: #FAFBFB;
  width: 400px;
  margin-top: 26px;
  margin-right: 30%;
  padding-left: 25px;
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #5D69B2;
  font-weight: bold;
}

a:hover {
  color: #6774C4;
}

p, span, a, img {
  background-color: #FAFBFB
}

#name {
  font-weight: bold;
  font-size: 1.2em;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}